### IMPORT

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

#### Note
The segmentation of this dataset is called "rank", its based on RFM score (R * 100 + F * 10 + M):
- **Platinum Customer**     - rank 1 - rfm_score >= 444
- **Very Loyal**            - rank 2 - rfm_score >=433 and rfm_score < 444
- **Becoming Loyal**        - rank 3 - rfm_score >=421 and rfm_score < 433
- **Recent Customer**       - rank 4 - rfm_score >=344 and rfm_score < 421
- **Potential Customer**    - rank 5 - rfm_score >=323 and rfm_score < 344
- **Late Bloomer**          - rank 6 - rfm_score >=311 and rfm_score < 323
- **Loosing Customer**      - rank 7 - rfm_score >=224 and rfm_score < 311
- **High Risk Customer**    - rank 8 - rfm_score >=212 and rfm_score < 224
- **Almost Lost Customer**  - rank 9 - rfm_score >=124 and rfm_score < 212
- **Evasive Customer**      - rank 10 - rfm_score >=112 and rfm_score < 124
- **Lost Customer**         - rank 11 - rfm_score < 112

In [ ]:
dataset_filename = "data/Customer_Trans_RFM_Analysis.csv"

In [5]:
dataset = pd.read_csv(dataset_filename)

### DATA EXPLORATION?

In [6]:
dataset.shape

(19354, 36)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19354 entries, 0 to 19353
Data columns (total 36 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   transaction_id                       19354 non-null  int64
 1   product_id                           19354 non-null  int64
 2   customer_id                          19354 non-null  int64
 3   transaction_date                     19354 non-null  object
 4   online_order                         19354 non-null  float64
 5   order_status                         19354 non-null  object
 6   brand                                19354 non-null  object
 7   product_line                         19354 non-null  object
 8   product_class                        19354 non-null  object
 9   product_size                         19354 non-null  object
 10  list_price                           19354 non-null  float64
 11  standard_cost                        19354 non-null  float64
 12  product_first_sold_date              19354 non-null  float64
 13  Profit                               19354 non-null  float64
 14  first_name                           19354 non-null  object
 15  last_name                            18732 non-null  object
 16  gender                               19354 non-null  object
 17  past_3_years_bike_related_purchases  19354 non-null  int64
 18  DOB                                  19354 non-null  object
 19  job_title                            19354 non-null  object
 20  job_industry_category                19354 non-null  object
 21  wealth_segment                       19354 non-null  object
 22  deceased_indicator                   19354 non-null  object
 23  owns_car                             19354 non-null  object
 24  tenure                               19354 non-null  float64
 25  Age                                  19354 non-null  int64
 26  recency                              19354 non-null  int64
 27  frequency                            19354 non-null  int64
 28  monetary                             19354 non-null  float64
 29  r_quartile                           19354 non-null  int64
 30  f_quartile                           19354 non-null  int64
 31  m_quartile                           19354 non-null  int64
 32  rfm_score                            19354 non-null  int64
 33  detail_cust_title                    19354 non-null  object
 34  rank                                 19354 non-null  int64
 35  Age_Group                            19354 non-null  int64
dtypes: float64(7), int64(13), object(16)
memory usage: 5.3+ MB